/* Site-wide styling goes here! */

* {
    margin: 0;
}

:root {
    --PrimaryColor: "#000000";
    --SecondaryColor: "#000000";
    --TertiaryColor: "#000000";
    --FourthColor: "#000000";
    --FifthColor: "#000000";
    --SixthColor: "#000000";
    --SameShadeColor: "#000000";
    --OppositeShadeColor: "#000000";
}

.primaryBackground {
    background-color: var(--PrimaryColor);
}

.primaryColor {
    color: var(--PrimaryColor);
}

.secondaryBackground {
    background-color: var(--SecondaryColor);
}

.secondaryColor {
    color: var(--SecondaryColor);
}


.tertiaryBackground {
    background-color: var(--TertiaryColor);
}
.tertiaryColor {
    color: var(--TertiaryColor);
}


.fourthBackground {
    background-color: var(--FourthColor);
}
.fourthColor {
    color: var(--FourthColor);
}


.fifthBackground {
    background-color: var(--FifthColor);
}
.fifthColor {
    color: var(--FifthColor);
}


.sixthBackground {
    background-color: var(--SixthColor);
}
.sixthColor {
    color: var(--SixthColor);
}

.sameShadeBackground {
    background-color: var(--SameShadeColor);
}
.sameShadeColor {
    color: var(--SameShadeColor);
}

.oppositeShadeBackground {
    background-color: var(--OppositeShadeColor);
}
.oppositeShadeColor {
    color: var(--OppositeShadeColor);
}