.sidebar {
    display: flex;
}

.sidebar--navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 80px;
    height: 100vh;

    transition-duration: 400ms;
    transition-timing-function: ease-out;
    overflow: hidden;
}

.navtab {
    width: 80px;
    transition-duration: 300ms;
    right: 0px;
}

.sidebar--toggle {
    display: grid;
    place-items: center;
}

