/* *{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

:root {
	--PrimaryColor: "#000000";
	--SecondaryColor: "#000000";
	--TertiaryColor: "#000000";
	--FourthColor: "#000000";
	--FifthColor: "#000000";
	--SixthColor: "#000000";
	--SameShadeColor: "#000000";
	--OppositeShadeColor: "#000000";
	--FontFamily: "";
}

.todo-app {
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 520px;
	min-height: 470px;
	background: var(--SecondaryColor);
	text-align: center;
	margin: 28px auto;
	border-radius: 10px;
	padding-bottom: 32px;
}

h1 {
	margin: 32px 0;
	color: var(--TertiaryColor);
	font-size: 40px; 
}

.complete {
	text-decoration: line-through;
	opacity: 0.4;
	background: gray;
}

.todo-form {
	margin-bottom: 32px;
}

.todo-input {
	padding: 14px 32px 14px 16px;
	border-radius: 4px 0 0 4px;
	border: 2px solid var(--SixthColor);
	outline: none;
	width: 320px;
	background: transparent;
	color: var(--TertiaryColor);
}

	.todo-input::placeholder {
		color: var(--TertiaryColor);
	}

.todo-button {
	padding: 16px;
	border: none;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	outline: none;
	background: linear-gradient( 90deg, var(--SixthColor) 0%, var(--FifthColor) 100% );
	color: var(--OppositeShadeColor);
	text-transform: capitalize;
	
}

.todo-input.edit {
	border: 2px solid #149fff;
}

.todo-button.edit {
	background: lightblue;
	padding: 16px 22px;
}

.todo-container {
	display: flex;
	flex-direction: row;
	position: relative;
}

.todo-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 4px auto;
	color: var(--OppositeShadeColor);
	background: linear-gradient( 90deg, var(--FourthColor) 0%, var(--FifthColor) 100% );
	padding: 16px;
	border-radius: 5px;
	width: 90%;
}

.delete-btn {
	margin-right: 5px;
	color: var(--TertiaryColor);
	background: linear-gradient( 90deg, var(--SecondaryColor) 0%, var(--PrimaryColor) 100% );
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}

.edit-btn {
	color: var(--TertiaryColor);
	background: linear-gradient( 90deg, var(--SixthColor) 0%, var(--FifthColor) 100% );
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}
